.answer {
  margin: 8px 0;
}

.answer li {
  margin-top: 8px;
}

.link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .answer ol {
    padding-right: 0px;
  }

  .answer li {
    margin-right: 25px;
  }
}
