@import '../../AppGlobals.css';

.answer {
  margin: 8px 0;
}

.answer li {
  margin-top: 8px;
}

.link {
  color: var(--link-color);
}

@media (max-width: 868px) { /* MID_TABLET_SCREEN */
  .answer ol {
    padding-right: 0px;
  }

  .answer li {
    margin-right: 25px;
  }
}

.answer.row {
  display: flex;
  align-items: center;
}
