.about-content {
  display: flex;
  flex-direction: column;
  text-align: right;
  max-width: 1200px;
  margin-right: 400px;
  margin-left: 10px;
}
@media (max-width: 1280px) { /* MAX_TABLET_SCREEN */
  .about-content {
    margin-right: 370px;
  }
}
@media (max-width: 868px) { /* MID_TABLET_SCREEN */
  .about-content {
    margin: 0 auto;
  }
}

.qna-item {
  padding: 0 20px;
  border-radius: 8px;
  box-shadow: 0 0px 0.5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .qna-item {
    padding: 0 15px;
  }
}
.qna-item:first-child {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.question {
  font-weight: bold;
  margin-bottom: 6px;
}
