.reports-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.search-bar {
  z-index: 999;
  /* display: flex; */
  /* direction: rtl; */
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .search-bar {
    width: 90%;
    margin-top: 0px;
  }
}

.selected-item {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: #f7f7f7;
  width: 900px;
  margin-top: 20px;
  height: 100vh;
}
@media (max-width: 768px) {
  .selected-item {
    width: calc(100% - 10px);
  }
}

.link {
  color: #61dafb;
}
