.reports-list-container {
  margin: 0px 20px 0px 20px;
}

.reports-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.selected-item {
  background-color: #f7f7f7;
  width: 100%;
}

.selected-item .pdf-file-container {
  margin: 0 auto;
  width: 900px;
  height: calc(100vh - 60px);
}
@media (max-width: 1600px) {
  .selected-item .pdf-file-container {
    margin-right: 340px;
    width: 70%;
  }
}
@media (max-width: 1140px) {
  .selected-item .pdf-file-container {
    margin-right: 340px;
    width: 60%;
  }
}
@media (max-width: 868px) {
  .selected-item .pdf-file-container {
    margin-right: 340px;
    width: 50%;
  }
}

.link {
  color: #61dafb;
}

.image-container {
  width: min(40%, 600px);
  margin: 20px auto 0 auto;
}
@media (max-width: 1600px) {
  .image-container {
    margin-right: 220px;
  }
}

.pdf-file-container {
  height: 70rem;
}

.loader img {
  width: min(40%, 600px);
  height: auto;
  margin: 20px auto 0 auto;
  animation: spin 4s linear infinite;
}
@media (max-width: 768px) {
  .loader img {
    width: min(60%, 600px);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
