.category {
  overflow: hidden;
  align-items: baseline;
}
.category:hover {
  background-color: #f5f5f5; /* Add hover background color */
  cursor: pointer;
}

.category h4 {
  font-size: 16px;
  text-align: right;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 8px;
}

.category.expanded h4 {
  margin-bottom: 2px;
}

.category ul {
  list-style: none; /* Remove the default list-style bullets */
  padding: 0;
  margin: 0;
}

.category-items {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
  animation: openDemo 1.5s ease-in-out;
}

@keyframes openDemo {
  0%, 100% {
    max-height: 0;
  }

  50% {
    max-height: 1000px;
  }
}

.category-items.expanded {
  max-height: 1000px;
}

.category-items.expanded li {
  transition: background-color 0.2s;
}

.category-items.expanded li:hover {
  background-color: #e0e0e0;
}

li {
  text-align: right;
  margin-right: 40px;
}

.more-pages {
  margin-right: 60px;
}

.more-pages.false {
  display: none;
}

.search-container {
  position: relative;
}

.text-input {
  background-color: #f0f0f0;
  border: none;
  border-radius: 8px;
  padding: 10px 30px 10px 0px; /* Add left padding for the icon */
  font-size: 14px;
  color: #333;
  /* max-width: 100%; */
  width: 90%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  transition-property: background-color, box-shadow, width;

  &:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }
}

.text-input::placeholder {
  color: #888;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.arrow {
  border: solid #e0e0e0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
