body {
  direction: rtl;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.container {
  /* background-color: lightgrey; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  padding: 20px;
  width: 80%;
}

.title {
  color: #008080; /* Deeper green color */
  margin-bottom: 10px;
  font-family: system-ui;
}

.title-line {
  width: 100%;
  height: 2px;
  background-color: #008080; /* Deeper green color */
  margin-bottom: 20px;
}

.tabs {
  /* display: flex; */
  align-items: center;
  margin-top: 10px;
}

.tab {
  text-decoration: none;
  color: black;
  padding: 10px 50px;
  transition: color 0.3s;
  font-family: system-ui;
}

@media (max-width: 768px) {
  .tab {
    padding: 5px 10px;
  }
}

.tab:hover {
  color: #1abc9c; /* Deeper green color */
}

.divider {
  margin: 0 10px;
  color: #ccc;
}

.main-content {
  /* background-color: lightgrey; */
  background-color: #f7f7f7; /* Highlighted background color */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 100vh;
  text-align: center;
}
@media (max-width: 768px) {
  .main-content {
    padding: 8px;
  }
}
