@import 'AppGlobals.css';

body {
  direction: rtl;
  background-color: var(--background-color-dark);
  margin: 0;
  padding: 0;
}

.header-with-tabs {
  position: sticky;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.header-image-container {
  margin-right: 30px;
  margin-left: 20px;
  width: var(--main-page-icon-size-large);
}
@media (max-width: 868px) { /* MID_TABLET_SCREEN */
  .header-image-container {
    width: var(--main-page-icon-size-small);
  }
}
.header-image-container:hover {
  cursor: pointer;
}

.header {
  text-align: center;
  margin-left: calc(var(--main-page-icon-size-large) + 50px); /* Margins of the icon */
  width: 100%;
}
@media (max-width: 1280px) { /* MAX_TABLET_SCREEN */
  .header {
    margin-left: 15px;
  }
}

.title {
  color: var(--title-color);
  margin-bottom: 10px;
}
@media (max-width: 1280px) { /* MAX_TABLET_SCREEN */
  .title {
    font-size: 22px;
  }
}
@media (max-width: 868px) { /* MID_TABLET_SCREEN */
  .title {
    font-size: 20px;
  }
}

.title-line {
  background-color: var(--title-color);
  height: 2px;
  margin-bottom: 15px;
}

.tabs {
  margin: 0 auto;
  display: block;
  width: fit-content;
  text-wrap: balance;
  margin-bottom: 10px;
  margin-top: -10px;
}
@media (max-width: 1280px) { /* MAX_TABLET_SCREEN */
  .tabs {
    margin-top: -15px;
  }
}
@media (max-width: 485px) { /* MAX_PHONE_SCREEN */
  .tabs {
    text-wrap: wrap;
  }
}

.tab {
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 36px;
  transition: color 0.3s;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1280px) { /* MAX_TABLET_SCREEN */
  .tab {
    font-size: 16px;
  }
}
@media (max-width: 868px) { /* MID_TABLET_SCREEN */
  .tab {
    font-size: 14px;
  }
}
@media (max-width: 485px) { /* MAX_PHONE_SCREEN */
  .tab {
    padding: 10px 10px;
  }
}

.tab.active {
  color: var(--tab-highlight-color);
}

.tab:hover {
  color: var(--tab-highlight-color);
}

.divider {
  margin: 0 4px;
  color: var(--divider-color);
}

.main-content {
  background-color: var(--background-color-light);
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 100vh;
  text-align: center;
}
@media (max-width: 868px) { /* MID_TABLET_SCREEN */
  .main-content {
    padding: 8px;
  }
}
