body {
  direction: rtl;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.header-with-tabs {
  position: sticky;
  top: 0;
}

.header-container {
  /* position: fixed; */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
}
@media (max-width: 688px) {
  .header-container {
    margin-right: 60px;
  }
}

.header-image-container {
  margin-right: 30px;
  margin-left: 20px;
  width: 100px;
}
@media (max-width: 688px) {
  .header-image-container {
    width: 50px;
    position: absolute;
    margin-right: 6px;
    top: 26px;
    right: 0;
  }
}
.header-image-container:hover {
  cursor: pointer;
}

.header {
  text-align: center;
  text-align: center;
  padding: 0 20px 0 150px;
  width: 95%;
  margin: 0 auto 0 auto;
}
@media (max-width: 1200px) {
  .header {
    padding: 0 0 0 15px;
    width: 100%;
  }
}

.title {
  color: #008080; /* Deeper green color */
  margin-bottom: 10px;
  font-family: system-ui;
}
@media (max-width: 688px) {
  .title {
    font-size: 22px;
  }
}

.title-line {
  width: 100%;
  height: 2px;
  background-color: #008080; /* Deeper green color */
  margin-bottom: 15px;
}

.tabs {
  margin: 0 auto;
  display: block;
  width: fit-content;
  text-wrap: balance;
  margin-bottom: 10px;
  margin-top: -10px;
}
@media (max-width: 485px) {
  .tabs {
    font-size: 14px;
    text-wrap: wrap;
  }
}

.tab {
  text-decoration: none;
  color: black;
  padding: 10px 36px;
  transition: color 0.3s;
  font-family: system-ui;
}

@media (max-width: 688px) {
  .tab {
    padding: 5px 6px;
  }
}
@media (max-width: 359px) {
  .tab {
    display: inline-flex;
    width: 20%;
  }
}

.tab.active {
  color: #1abc9c; /* Deeper green color */
}

.tab:hover {
  color: #1abc9c; /* Deeper green color */
}

.divider {
  margin: 0 4px;
  color: #ccc;
}

.main-content {
  background-color: #f7f7f7; /* Highlighted background color */
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 100vh;
  text-align: center;
}
@media (max-width: 768px) {
  .main-content {
    padding: 8px;
  }
}
